/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #508D4E;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.panel {
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 0.94em 1.5em;
    width: 100%;
    max-width: 960px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.pricing-img {
    width: 100%;
}

.pricing-header {
    color: #888888;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-feature {
    margin: 3em 0.5em 1.5em 0.5em;
}

.pricing-feature-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.75rem;
    line-height: 1.5;
    padding: 0.5em 0;
    border-top: 1px solid #e1f1e1;
}

.pricing-feature-item:last-child {
    border-bottom: 1px solid #e1f1e1;
}

.pricing-price {
    margin-bottom: 0.5em;
    display: block;
    font-weight: 600;
    font-size: large;
    color: #1A5319;

}

.pricing-button {
    text-decoration: none;
    font-weight: 700;
    color: #FFFFFF;
    border: 1px solid #D6EFD8;
    border-radius: 10px;
    background-color: #80AF81;
    display: inline-block;
    padding: 1em 2em;
    transition: background-color 0.2s;
}

.pricing-button:hover {
    color: #D6EFD8;
    background-color: #508D4E;
}

.link {
    color: red;
}

@media (min-width: 940px) {
    .panel {
        flex-direction: row;
    }
}